<tr>
  <th scope="row">1</th>
  <td><%= post.name %></td>
  <td><%= post.title %></td>
  <td><%= link_to "Show this post", post %></td>
  <td><%= link_to "Edit this post", edit_post_path(post) %></td>
  <td><%= link_to "Delete this post", post method: :delete %></td>
</tr>