<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<!-- Button new post -->
<%= link_to "New post", new_post_path , class: "btn btn-primary" %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Author List 
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Semua penulis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% @posts.each do |post| %>
          <p><%= post.name %></p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br>
<%= link_to "New post", new_post_path %>
<br>
<div id="posts">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-center">Author</th>
        <th scope="col" class="text-center">Title</th>
        <th scope="col" class="text-center">Genre</th>
        <th scope="col" colspan="3" class="text-center">action</th>
      </tr>
    </thead>
    <tbody>
  <% @posts.each do |post| %>
    <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.genre %></td>
    <td><%= link_to "Show this post", post %></td>
    <td><%= link_to "Edit this post", edit_post_path(post) %></td>
    <td><%= link_to "Delete this post", post , method: "delete" %></td>
  </tr>
  <% end %>
    </tbody>
  </table>
</div>
